<div class="body">
  <div>
    <app-main-window></app-main-window>

    <br>
    <div class="center">
      <form [formGroup]="myForm">

        <div class="form-group col-md-6">
          <label for="id">Task ID :</label>
          <input type="text"
                 name="id"
                 class="form-control"
                 id="id"
                 readonly
                 formControlName="id">
        </div>

        <div class="form-group col-md-6">
          <label for="subject">Subject</label>
          <input type="text"
                 name="subject"
                 class="form-control"
                 id="subject"
                 placeholder="Subject"
                 formControlName="subject">
          <div *ngIf="myForm.controls['subject'].errors?.['required']" class="text-danger">
            Subject is required!
          </div>
          <div *ngIf="myForm.controls['subject'].errors?.['maxlength']" class="text-danger">
            Subject is too long max 100 chars!
          </div>
          <br>
          <div>
            <label for="due-date">Due Date</label>
            <input type="date"
                   name="due-date"
                   class="form-control"
                   id="due-date"
                   placeholder="Due Date"
                   formControlName="dueDate">
          </div>

          <br>
          <div>
            <label for="status" class="form-select">Status:</label>
            <select type="text"
                    class="form-control"
                    id="status"
                    name="status"
                    formControlName="status">
              <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
            </select>
          </div>

          <br>
          <div>
            <label for="assigned-user">Assigned to:</label>
            <select type="text"
                    class="form-control"
                    id="assigned-user"
                    name="assigned-user"
                    formControlName="assignedUserName">
              <option *ngFor="let user of (users|async)" [value]="user.username">{{user.username}}</option>
            </select>
          </div>
        </div>


        <br>

        <div *ngIf="editMode" class="btn-margin">
          <button type="submit" class=" btn btn-success" (click)="onSubmit()" [disabled]="myForm.invalid">Save</button>
        </div>

      </form>

      <div *ngIf="!editMode" class="btn-margin">
        <button
          type="button" class="btn btn-primary btn-space" (click)="onEdit()">Edit
        </button>
        <button type="button" class="btn btn-danger btn-double-space" (click)="deleteTask()">Delete Task</button>
        <button type="button" class="btn btn-dark" routerLink="/app-my-task-page">Close</button>

      </div>

    </div>

  </div>
</div>


<router-outlet></router-outlet>
