<div>
  <app-main-window></app-main-window>
  <div>

  </div>
  <br>
  <form [formGroup]="myForm">

    <div class="form-group col-md-6">
      <div class="form-group col-md-6">
        <label for="id">Task ID :</label>
        <input type="text"
               name="id"
               class="form-control"
               id="id"
               readonly
               formControlName="id">
      </div>
    </div>

    <div class="form-group col-md-6">
      <div>
        <label for="subject">Subject</label>
        <input type="text"
               name="subject"
               class="form-control"
               id="subject"
               placeholder="Subject"
               formControlName="subject">
      </div>
      <div *ngIf="myForm.controls['subject'].errors?.['required']" class="text-danger">
        Subject is required!
      </div>
      <div *ngIf="myForm.controls['subject'].errors?.['maxlength']" class="text-danger">
        Subject is too long max 100 chars!
      </div>

      <div>
        <label for="due-date">Due Date</label>
        <input type="date"
               name="due-date"
               class="form-control"
               id="due-date"
               placeholder="Due Date"
               formControlName="dueDate">
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="status" formControlName="status">
        <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="assigned-user">Assigned To:</label>
<!--      <input type="text"-->
<!--             name="clientUserName"-->
<!--             class="form-control"-->
<!--             id="assigned-user"-->
<!--             placeholder="Assigned to"-->
<!--             formControlName="assignedUserName">-->
      <select class="form-select" id="assigned-user" formControlName="assignedUserName">
        <option *ngFor="let user of (users|async)" [value]="user.username">{{user.username}}</option>
      </select>
    </div>
    <br>

    <div *ngIf="editMode">
      <button type="submit" class=" btn btn-success" (click)="onSubmit()" [disabled]="myForm.invalid">Save</button>
    </div>

  </form>


  <div *ngIf="!editMode">
    <button
      type="button" class="btn btn-primary" (click)="onEdit()">Edit
    </button>
  </div>

</div>
<br>
<div>
  <button type="button" class="btn btn-dark" routerLink="/app-my-task-page">Close</button>
</div>

<br>
<br>
<div>
  <button type="button" class="btn btn-success" routerLink="/app-add-new-task">Add New Task</button>
  <button type="button" class="btn btn-danger " (click)="deleteTask()">Delete Task</button>
</div>


<router-outlet></router-outlet>
