.body {
  height: 100vh;
  background-color: azure;
  margin: 0;
  padding: 0;
}
.center {
  margin: auto 700px;
  width: 50%;
  padding: 10px;
}


.btn-margin {
  margin-left: 15px;
}

.btn-double-space {
  margin-right: 215px;
}
