<div class="body">

  <div class="users">
    <header class="user__header">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt=""/>
      <h1 class="user__title">SIGN-UP </h1>
    </header>

    <form class="form" #myForm="ngForm" (ngSubmit)="!myForm.invalid && registerUser()">
      <div class="form__group">
        <input [(ngModel)]="userRegister.username"
               id="username"
               type="text"
               name="username"
               placeholder="Username"
               class="form__input"
               required
               #username="ngModel"
        />
      </div>
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']" class="text-danger">
          Username is required!
        </div>
      </div>


      <input [(ngModel)]="userRegister.email"
             id="email"
             type="email"
             name="email"
             placeholder="Email"
             class="form__input"
             required
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             #email="ngModel"/>

      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']" class="text-danger">
          Email is required!
        </div>
        <div *ngIf="email.errors?.['pattern']" class="text-danger">
          You've entered invalid email!
        </div>
      </div>
      <div *ngIf="showErrMsg"><p class="text-danger">{{serverMsg}}</p></div>


      <input [(ngModel)]="userRegister.password"
             id="password"
             type="password"
             name="password"
             placeholder="Password"
             class="form__input"
             required
             minlength="8"
             #password="ngModel"/>

      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']" class="text-danger">
          Password is required!
        </div>
        <div *ngIf="password.errors?.['minlength']" class="text-danger">
          Minimum password length is 8
        </div>

      </div>

      <button class="btn" type="submit" [disabled]="!myForm.form.valid">Register</button>
    </form>
  </div>

</div>

